<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Picast Server">
        <setting id="server_host" type="text" option="writeable" label="Direccion IP" default=""/>
        <setting id="api_key" type="text" option="writeable" label="API Key" default=""/>
    </category>
</settings>



